# mkdocs related
mkdocs-material
mkdocs-material-extensions
mkdocs-minify-plugin
mkdocs-redirects
mkdocs-git-revision-date-localized-plugin

# markdown extensions
pymdown-extensions

# social cards rendering
pillow
cairosvg
